@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;0,800;1,400;1,500&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,800;1,500;1,600&family=Poppins:wght@200;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.montserrat__font{
  font-family: 'Montserrat', sans-serif;
}
.playfair__display__font{
  font-family: 'Playfair Display', serif;
}
.poppins__font{
  font-family: 'Poppins', sans-serif; 
}
.open__sans__font{
  font-family: 'Open Sans', sans-serif;
}
/* .design__01__container{
  @apply bg-cover bg-no-repeat
  flex justify-center items-center
  py-24 bg-center
}  */
.design__01__container{
  @apply h-fit bg-no-repeat bg-center
  bg-cover py-20
} 
/* .design__01__certificate__main {
  @apply absolute top-[10%]
} */
.design__01__certificate__main {
  @apply text-center
}
.design__01__certificate__heading__text{
  @apply open__sans__font text-5xl font-bold text-center tracking-widest uppercase text-[#F8B119] px-14
 
}
.design__01__certificate__sub__heading__text{
  @apply open__sans__font text-4xl  uppercase text-center
}
.design__01__certificate__text__01{
  @apply open__sans__font my-6
  text-center
}
.design__01__certificate__participant__name{
  @apply open__sans__font text-4xl font-bold text-blue-800 text-center
}
.design__01__certificate__divider{
  @apply w-3/5  border-t-2 border-[#F8B119]
  mt-3 mx-auto
}
.design__01__certificate__description{
  @apply open__sans__font w-3/5 mx-auto mt-6
  text-center
}
.design__01__certificate__footer{
  @apply grid grid-cols-3 gap-4 w-3/5 mx-auto mt-20 flex items-center
}
.design__01__certificate__logo__main{
  @apply w-40 mx-auto
}
.design__01__certificate__signature__divider,
.design__01__certificate__date__divider
{
  @apply border-t-2 border-[#F8B119]
}
.design__01__certificate__signature__divider___title,
.design__01__certificate__date__divider___title
{
  @apply uppercase text-center mt-2
}